In [2]:
import pandas as pd

In [3]:
# Read info of the four days from csv files and create a dataframe for each one
day1 = pd.read_csv("challenge/validacion20241020")#, usecols=["Fecha_Transaccion"])#.squeeze("columns")
day1.head()
# day2 = pd.read_csv("challenge/validacion20241027", usecols=["Fecha_Transaccion"]).squeeze("columns")
# day3 = pd.read_csv("challenge/validacion20241103", usecols=["Fecha_Transaccion"]).squeeze("columns")
# day4 = pd.read_csv("challenge/validacion20241110", usecols=["Fecha_Transaccion"]).squeeze("columns")

,Acceso_Estacion,Day_Group_Type,Dispositivo,Emisor,Estacion_Parada,Fase,Fecha_Clearing,Fecha_Transaccion,Hora_Pico_SN,ID_Vehiculo,...,Numero_Tarjeta,Operador,Ruta,Saldo_Despues_Transaccion,Saldo_Previo_a_Transaccion,Sistema,Tipo_Tarifa,Tipo_Tarjeta,Tipo_Vehiculo,Valor
0,(LA) ALIMENTACION CASTILLA Y BIBLIOTECA TINTAL,Dia 2,10000784,3101000,(05100) Banderas P. Central,Fase 3,2024-10-20,2024-10-20 03:50:43,Peak Time,NaN,...,d970ef6f244d5c52ed0319c87dc31e2c0eea23ed151fc7...,(201) Trunk agency,NaN,1730.0,4680.0,TRONCAL,"1,0",tullave Plus,NaN,$ 2950.0
1,(01) Acceso Peatonal Norte,Dia 2,10001263,3101000,(07010) Bosa,Fase 3,2024-10-20,2024-10-20 03:53:34,Peak Time,NaN,...,a432a8fb2c4ed0eee674c0d3ae6758e27f02d71db785ff...,(201) Trunk agency,NaN,14750.0,17700.0,TRONCAL,"1,0",tullave Básica,NaN,$ 2950.0
2,(01) Acceso Peatonal Norte,Dia 2,10001264,3101000,(07010) Bosa,Fase 3,2024-10-20,2024-10-20 03:53:57,Peak Time,NaN,...,82e95c47d12e418f3d661df39905cbce80ef9e21804c53...,(201) Trunk agency,NaN,250.0,3200.0,TRONCAL,"1,0",tullave Básica,NaN,$ 2950.0
3,(BA) BATERIA VAGON ORIENTE PARQUE EL TUNAL,Dia 2,10000528,3101000,(08001) Parque el Tunal,Fase 3,2024-10-20,2024-10-20 03:54:20,Peak Time,NaN,...,f72f11a243e1821860d4525f6ba295de6f21fe783fa7e2...,(201) Trunk agency,NaN,68000.0,70950.0,TRONCAL,"1,0",tullave Básica,NaN,$ 2950.0
4,(23) Acceso Peatonal,Dia 2,40000160,3101000,(05000) Portal Américas,Fase 3,2024-10-20,2024-10-20 03:54:47,Peak Time,NaN,...,ff62cbf07e71e84f49e9f6af4671f60efb77c1735229ad...,(201) Trunk agency,NaN,54230.0,56730.0,TRONCAL,"1,0",tullave Plus,NaN,$ 2500.0

In [ ]:
day1.dtypes

Acceso_Estacion                object
Day_Group_Type                 object
Dispositivo                     int64
Emisor                          int64
Estacion_Parada                object
Fase                           object
Fecha_Clearing                 object
Fecha_Transaccion              object
Hora_Pico_SN                   object
ID_Vehiculo                   float64
Linea                          object
Nombre_Perfil                  object
Numero_Tarjeta                 object
Operador                       object
Ruta                          float64
Saldo_Despues_Transaccion     float64
Saldo_Previo_a_Transaccion    float64
Sistema                        object
Tipo_Tarifa                    object
Tipo_Tarjeta                   object
Tipo_Vehiculo                 float64
Valor                          object
dtype: object

In [ ]:
day1.columns

Index(['Acceso_Estacion', 'Day_Group_Type', 'Dispositivo', 'Emisor',
       'Estacion_Parada', 'Fase', 'Fecha_Clearing', 'Fecha_Transaccion',
       'Hora_Pico_SN', 'ID_Vehiculo', 'Linea', 'Nombre_Perfil',
       'Numero_Tarjeta', 'Operador', 'Ruta', 'Saldo_Despues_Transaccion',
       'Saldo_Previo_a_Transaccion', 'Sistema', 'Tipo_Tarifa', 'Tipo_Tarjeta',
       'Tipo_Vehiculo', 'Valor'],
      dtype='object')

In [ ]:
day1.axes

[RangeIndex(start=0, stop=638602, step=1),
 Index(['Acceso_Estacion', 'Day_Group_Type', 'Dispositivo', 'Emisor',
        'Estacion_Parada', 'Fase', 'Fecha_Clearing', 'Fecha_Transaccion',
        'Hora_Pico_SN', 'ID_Vehiculo', 'Linea', 'Nombre_Perfil',
        'Numero_Tarjeta', 'Operador', 'Ruta', 'Saldo_Despues_Transaccion',
        'Saldo_Previo_a_Transaccion', 'Sistema', 'Tipo_Tarifa', 'Tipo_Tarjeta',
        'Tipo_Vehiculo', 'Valor'],
       dtype='object')]

In [ ]:
day1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638602 entries, 0 to 638601
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Acceso_Estacion             638602 non-null  object
 1   Day_Group_Type              638602 non-null  object
 2   Dispositivo                 638602 non-null  int64
 3   Emisor                      638602 non-null  int64
 4   Estacion_Parada             638602 non-null  object
 5   Fase                        638602 non-null  object
 6   Fecha_Clearing              638602 non-null  object
 7   Fecha_Transaccion           638602 non-null  object
 8   Hora_Pico_SN                638602 non-null  object
 9   ID_Vehiculo                 0 non-null       float64
 10  Linea                       638602 non-null  object
 11  Nombre_Perfil               638602 non-null  object
 12  Numero_Tarjeta              638602 non-null  object
 13  Operador                    638602 non-null  object
 14  Ruta                        0 non-null       float64
 15  Saldo_Despues_Transaccion   638602 non-null  float64
 16  Saldo_Previo_a_Transaccion  638602 non-null  float64
 17  Sistema                     638602 non-null  object
 18  Tipo_Tarifa                 638602 non-null  object
 19  Tipo_Tarjeta                638602 non-null  object
 20  Tipo_Vehiculo               0 non-null       float64
 21  Valor                       638602 non-null  object
dtypes: float64(5), int64(2), object(15)
memory usage: 107.2+ MB

In [8]:
slice = day1["Valor"].head()
slice
# slice.sum()

0    $ 2950.0
1    $ 2950.0
2    $ 2950.0
3    $ 2950.0
4    $ 2500.0
Name: Valor, dtype: object

In [8]:
relevant_cols = day1[["Emisor","Fecha_Transaccion","Valor"]].head(30)
relevant_cols

     Emisor    Fecha_Transaccion     Valor
0   3101000  2024-10-20 03:50:43  $ 2950.0
1   3101000  2024-10-20 03:53:34  $ 2950.0
2   3101000  2024-10-20 03:53:57  $ 2950.0
3   3101000  2024-10-20 03:54:20  $ 2950.0
4   3101000  2024-10-20 03:54:47  $ 2500.0
5   3101000  2024-10-20 03:54:51  $ 2950.0
6   3101000  2024-10-20 03:54:54  $ 2950.0
7   3101000  2024-10-20 03:54:59  $ 2950.0
8   3101000  2024-10-20 03:55:01  $ 2950.0
9   3101000  2024-10-20 03:55:02  $ 2950.0
10  3101000  2024-10-20 03:55:09  $ 2950.0
11  3101000  2024-10-20 03:55:11  $ 2950.0
12  3101000  2024-10-20 03:55:17  $ 2950.0
13  3101000  2024-10-20 03:55:21  $ 2950.0
14  3101000  2024-10-20 03:55:22  $ 2950.0
15  3101000  2024-10-20 03:55:24  $ 2950.0
16  3101000  2024-10-20 03:55:25  $ 2950.0
17  3101000  2024-10-20 03:55:28  $ 2950.0
18  3101000  2024-10-20 03:55:29  $ 2950.0
19  3101000  2024-10-20 03:55:30  $ 2950.0
20  3101000  2024-10-20 03:55:30  $ 2950.0
21  3101000  2024-10-20 03:55:36  $ 2950.0
22  3101000  2024-10-20 03:55:37  $ 2950.0
23  3101000  2024-10-20 03:55:41  $ 2950.0
24  3101000  2024-10-20 03:55:41  $ 2950.0
25  3101000  2024-10-20 03:56:22  $ 2950.0
26  3101000  2024-10-20 03:56:23  $ 2500.0
27  3101000  2024-10-20 03:56:33  $ 2950.0
28  3101000  2024-10-20 03:56:38  $ 2950.0
29  3101000  2024-10-20 03:56:39  $ 2950.0

In [5]:
relevant_cols.sum()

Emisor                                                        93030000
Fecha_Transaccion    2024-10-20 03:50:432024-10-20 03:53:342024-10-...
Valor                $ 2950.0$ 2950.0$ 2950.0$ 2950.0$ 2500.0$ 2950...
dtype: object

In [9]:
relevant_cols["Es puente"] = False
relevant_cols

     Emisor    Fecha_Transaccion     Valor  Es puente
0   3101000  2024-10-20 03:50:43  $ 2950.0      False
1   3101000  2024-10-20 03:53:34  $ 2950.0      False
2   3101000  2024-10-20 03:53:57  $ 2950.0      False
3   3101000  2024-10-20 03:54:20  $ 2950.0      False
4   3101000  2024-10-20 03:54:47  $ 2500.0      False
5   3101000  2024-10-20 03:54:51  $ 2950.0      False
6   3101000  2024-10-20 03:54:54  $ 2950.0      False
7   3101000  2024-10-20 03:54:59  $ 2950.0      False
8   3101000  2024-10-20 03:55:01  $ 2950.0      False
9   3101000  2024-10-20 03:55:02  $ 2950.0      False
10  3101000  2024-10-20 03:55:09  $ 2950.0      False
11  3101000  2024-10-20 03:55:11  $ 2950.0      False
12  3101000  2024-10-20 03:55:17  $ 2950.0      False
13  3101000  2024-10-20 03:55:21  $ 2950.0      False
14  3101000  2024-10-20 03:55:22  $ 2950.0      False
15  3101000  2024-10-20 03:55:24  $ 2950.0      False
16  3101000  2024-10-20 03:55:25  $ 2950.0      False
17  3101000  2024-10-20 03:55:28  $ 2950.0      False
18  3101000  2024-10-20 03:55:29  $ 2950.0      False
19  3101000  2024-10-20 03:55:30  $ 2950.0      False
20  3101000  2024-10-20 03:55:30  $ 2950.0      False
21  3101000  2024-10-20 03:55:36  $ 2950.0      False
22  3101000  2024-10-20 03:55:37  $ 2950.0      False
23  3101000  2024-10-20 03:55:41  $ 2950.0      False
24  3101000  2024-10-20 03:55:41  $ 2950.0      False
25  3101000  2024-10-20 03:56:22  $ 2950.0      False
26  3101000  2024-10-20 03:56:23  $ 2500.0      False
27  3101000  2024-10-20 03:56:33  $ 2950.0      False
28  3101000  2024-10-20 03:56:38  $ 2950.0      False
29  3101000  2024-10-20 03:56:39  $ 2950.0      False

In [10]:
day1.Acceso_Estacion.value_counts()

Acceso_Estacion
(01) Acceso Norte                                                                                        33179
(02) Acceso Sur                                                                                          25652
(01) Acceso Peatonal Sur                                                                                 22706
(AA) Acceso Norte                                                                                        15217
(01) Acceso Peatonal Norte                                                                               14277
                                                                                                         ...
(01) PLAT2 ALIM-DESAL FONTIBÓN/FONTIBÓN CENTRO/VILLEMAR/CALIHAYUELOS/LAESTANCIA/ZONA FRANCA/BELÉN-TC6        1
(07) PLATAFORMA 2 Desalimentación - Aurora/Av. Caracas/Marichuela/Alfonso Lopez (Discapacidad)               1
(15) Piso 1 Alimentación (Discapacidad)                                                                      1
(03) BATERIA UNO VAGON NORTE CASTELLANA (Discapacidad)                                                       1
(03) DESALIMENTACIÓN - SIERRA MORENA  (Discapacidad)                                                         1
Name: count, Length: 401, dtype: int64

In [12]:
day1.Acceso_Estacion.value_counts(normalize=True)*100

Acceso_Estacion
(01) Acceso Norte                                                                                        5.195568
(02) Acceso Sur                                                                                          4.016899
(01) Acceso Peatonal Sur                                                                                 3.555579
(AA) Acceso Norte                                                                                        2.382861
(01) Acceso Peatonal Norte                                                                               2.235665
                                                                                                           ...
(01) PLAT2 ALIM-DESAL FONTIBÓN/FONTIBÓN CENTRO/VILLEMAR/CALIHAYUELOS/LAESTANCIA/ZONA FRANCA/BELÉN-TC6    0.000157
(07) PLATAFORMA 2 Desalimentación - Aurora/Av. Caracas/Marichuela/Alfonso Lopez (Discapacidad)           0.000157
(15) Piso 1 Alimentación (Discapacidad)                                                                  0.000157
(03) BATERIA UNO VAGON NORTE CASTELLANA (Discapacidad)                                                   0.000157
(03) DESALIMENTACIÓN - SIERRA MORENA  (Discapacidad)                                                     0.000157
Name: proportion, Length: 401, dtype: float64

In [ ]:
day1.columns.

TypeError: Index.get_indexer() missing 1 required positional argument: 'target'

In [50]:
# day1["Has nan"] = day1
test = pd.Series(day1.columns)
test

0                Acceso_Estacion
1                 Day_Group_Type
2                    Dispositivo
3                         Emisor
4                Estacion_Parada
5                           Fase
6                 Fecha_Clearing
7              Fecha_Transaccion
8                   Hora_Pico_SN
9                    ID_Vehiculo
10                         Linea
11                 Nombre_Perfil
12                Numero_Tarjeta
13                      Operador
14                          Ruta
15     Saldo_Despues_Transaccion
16    Saldo_Previo_a_Transaccion
17                       Sistema
18                   Tipo_Tarifa
19                  Tipo_Tarjeta
20                 Tipo_Vehiculo
21                         Valor
dtype: object

,Acceso_Estacion,Day_Group_Type,Dispositivo,Emisor,Estacion_Parada,Fase,Fecha_Clearing,Fecha_Transaccion,Hora_Pico_SN,ID_Vehiculo,...,Numero_Tarjeta,Operador,Ruta,Saldo_Despues_Transaccion,Saldo_Previo_a_Transaccion,Sistema,Tipo_Tarifa,Tipo_Tarjeta,Tipo_Vehiculo,Valor
0,(LA) ALIMENTACION CASTILLA Y BIBLIOTECA TINTAL,Dia 2,10000784,3101000,(05100) Banderas P. Central,Fase 3,2024-10-20,2024-10-20 03:50:43,Peak Time,NaN,...,d970ef6f244d5c52ed0319c87dc31e2c0eea23ed151fc7...,(201) Trunk agency,NaN,1730.0,4680.0,TRONCAL,"1,0",tullave Plus,NaN,$ 2950.0
1,(01) Acceso Peatonal Norte,Dia 2,10001263,3101000,(07010) Bosa,Fase 3,2024-10-20,2024-10-20 03:53:34,Peak Time,NaN,...,a432a8fb2c4ed0eee674c0d3ae6758e27f02d71db785ff...,(201) Trunk agency,NaN,14750.0,17700.0,TRONCAL,"1,0",tullave Básica,NaN,$ 2950.0
2,(01) Acceso Peatonal Norte,Dia 2,10001264,3101000,(07010) Bosa,Fase 3,2024-10-20,2024-10-20 03:53:57,Peak Time,NaN,...,82e95c47d12e418f3d661df39905cbce80ef9e21804c53...,(201) Trunk agency,NaN,250.0,3200.0,TRONCAL,"1,0",tullave Básica,NaN,$ 2950.0
3,(BA) BATERIA VAGON ORIENTE PARQUE EL TUNAL,Dia 2,10000528,3101000,(08001) Parque el Tunal,Fase 3,2024-10-20,2024-10-20 03:54:20,Peak Time,NaN,...,f72f11a243e1821860d4525f6ba295de6f21fe783fa7e2...,(201) Trunk agency,NaN,68000.0,70950.0,TRONCAL,"1,0",tullave Básica,NaN,$ 2950.0
4,(23) Acceso Peatonal,Dia 2,40000160,3101000,(05000) Portal Américas,Fase 3,2024-10-20,2024-10-20 03:54:47,Peak Time,NaN,...,ff62cbf07e71e84f49e9f6af4671f60efb77c1735229ad...,(201) Trunk agency,NaN,54230.0,56730.0,TRONCAL,"1,0",tullave Plus,NaN,$ 2500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638597,(4A) Peatonal,Dia 1,10001361,3101000,(09000) Cabecera Usme,Fase 3,2024-10-20,2024-10-21 03:24:20,Peak Time,NaN,...,51845990071946adfae473e6a8101aeb3564e5e5b40802...,(201) Trunk agency,NaN,24600.0,24600.0,TRONCAL,"2,0",tullave Plus,NaN,$ 0.0
638598,(03) Acceso Sur,Dia 1,40000277,3101000,(05002) Tintal,Fase 3,2024-10-20,2024-10-21 03:48:34,Peak Time,NaN,...,ee684b78f071c84ded341944a82e75564656665745679c...,(201) Trunk agency,NaN,1150.0,4100.0,TRONCAL,"1,0",tullave Básica,NaN,$ 2950.0
638599,(03) Acceso Sur,Dia 1,40000310,3101000,(05002) Tintal,Fase 3,2024-10-20,2024-10-21 03:48:37,Peak Time,NaN,...,871e00d52ce5973355efa87fb2536ab98b0903ce375224...,(201) Trunk agency,NaN,5200.0,8150.0,TRONCAL,"1,0",tullave Plus,NaN,$ 2950.0
638600,(03) Acceso Peatonal Norte,Dia 1,10001705,3101000,(07504) TERREROS,Fase 3,2024-10-20,2024-10-21 03:48:47,Peak Time,NaN,...,1272a7fd4d7a34eee23be7fa16883d27bc66dc83bfd6c6...,(201) Trunk agency,NaN,2500.0,5450.0,TRONCAL,"1,0",tullave Plus,NaN,$ 2950.0
638601,(03) Acceso Sur,Dia 1,40000277,3101000,(05002) Tintal,Fase 3,2024-10-20,2024-10-21 03:49:12,Peak Time,NaN,...,662e6fc14734fa72b41179ffaa88e7620d4c81e1d83210...,(201) Trunk agency,NaN,25400.0,28350.0,TRONCAL,"1,0",tullave Plus,NaN,$ 2950.0